<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--File Name:index.ejs
    Name: Prajwal
    Student ID 301243308
    Date 2 October 2022-->



  <!--Main content-->
  <main class="container">
   <div class="jumbotron">
     <h1 class="display-1">Welcome to the <%= title %> page</h1>
   </div>


   <!--Mission statement and button-->
   <div id="p1">
   <h2>Hello! I am Prajwal Purohit and this is my portfoio project</h3>
   <h5>Click this button to read something about me.</h5>
   </div> 



<a href = "/about">
<button>About Me</button>
</a>

  </main>



<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>




